USE [master]
GO
/****** Object:  Database [SalaEscape]    Script Date: 10/9/2026 08:07:34 ******/
CREATE DATABASE [SalaEscape]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalaEscape', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SalaEscape.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SalaEscape_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SalaEscape_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalaEscape].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalaEscape]
GO
/****** Object:  User [alumno]    Script Date: 10/9/2026 08:07:34 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 10/9/2026 08:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[IdJugadores] [int] IDENTITY(1,1) NOT NULL,
	[IdPartida] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[IdJugadores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 10/9/2026 08:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[IdPartidas] [int] IDENTITY(1,1) NOT NULL,
	[Errores] [int] NOT NULL,
	[PistasSolicitadas] [int] NOT NULL,
 CONSTRAINT [PK_Partidas] PRIMARY KEY CLUSTERED 
(
	[IdPartidas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recurso]    Script Date: 10/9/2026 08:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recurso](
	[IdRecurso] [int] IDENTITY(1,1) NOT NULL,
	[RecursoUrl] [varchar](80) NOT NULL,
	[TipoRecurso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Recurso] PRIMARY KEY CLUSTERED 
(
	[IdRecurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasUsuario]    Script Date: 10/9/2026 08:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasUsuario](
	[IdRespuestas] [int] IDENTITY(1,1) NOT NULL,
	[IdPartidas] [int] NOT NULL,
	[Respuesta] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RespuestasUsuario] PRIMARY KEY CLUSTERED 
(
	[IdRespuestas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 10/9/2026 08:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[IdSalas] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Nivel] [int] NOT NULL,
	[RespuestaCorrecta] [varchar](50) NOT NULL,
	[Pista1] [varchar](80) NOT NULL,
	[Pista2] [varchar](80) NOT NULL,
	[Pista3] [varchar](105) NOT NULL,
 CONSTRAINT [PK_Salas] PRIMARY KEY CLUSTERED 
(
	[IdSalas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas_X_Partidas]    Script Date: 10/9/2026 08:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas_X_Partidas](
	[IdSalasPartidas] [int] IDENTITY(1,1) NOT NULL,
	[IdPartidas] [int] NOT NULL,
	[IdSalas] [int] NOT NULL,
	[SalaActual] [bit] NOT NULL,
 CONSTRAINT [PK_Salas_X_Partidas] PRIMARY KEY CLUSTERED 
(
	[IdSalasPartidas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalasXRecursos]    Script Date: 10/9/2026 08:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalasXRecursos](
	[IdSalasXRecursos] [int] IDENTITY(1,1) NOT NULL,
	[IdSalas] [int] NOT NULL,
	[IdRecurso] [int] NOT NULL,
 CONSTRAINT [PK_SalasXRecursos] PRIMARY KEY CLUSTERED 
(
	[IdSalasXRecursos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Partidas] ON 

INSERT [dbo].[Partidas] ([IdPartidas], [Errores], [PistasSolicitadas]) VALUES (1, 0, 0)
INSERT [dbo].[Partidas] ([IdPartidas], [Errores], [PistasSolicitadas]) VALUES (2, 0, 0)
INSERT [dbo].[Partidas] ([IdPartidas], [Errores], [PistasSolicitadas]) VALUES (3, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Partidas] OFF
GO
SET IDENTITY_INSERT [dbo].[Recurso] ON 

INSERT [dbo].[Recurso] ([IdRecurso], [RecursoUrl], [TipoRecurso]) VALUES (1, N'PlumaForrestGump.jpg', N'foto')
INSERT [dbo].[Recurso] ([IdRecurso], [RecursoUrl], [TipoRecurso]) VALUES (2, N'ForrestEscapando.jpg', N'foto')
INSERT [dbo].[Recurso] ([IdRecurso], [RecursoUrl], [TipoRecurso]) VALUES (3, N'AbcNumero.jpg', N'foto')
SET IDENTITY_INSERT [dbo].[Recurso] OFF
GO
SET IDENTITY_INSERT [dbo].[RespuestasUsuario] ON 

INSERT [dbo].[RespuestasUsuario] ([IdRespuestas], [IdPartidas], [Respuesta]) VALUES (1, 72, N'Hola')
INSERT [dbo].[RespuestasUsuario] ([IdRespuestas], [IdPartidas], [Respuesta]) VALUES (2, 72, N'Hola')
INSERT [dbo].[RespuestasUsuario] ([IdRespuestas], [IdPartidas], [Respuesta]) VALUES (3, 72, N'Hola')
SET IDENTITY_INSERT [dbo].[RespuestasUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Salas] ON 

INSERT [dbo].[Salas] ([IdSalas], [Nombre], [Nivel], [RespuestaCorrecta], [Pista1], [Pista2], [Pista3]) VALUES (1, N'Pluma', 0, N'-', N'-', N'-', N'-')
INSERT [dbo].[Salas] ([IdSalas], [Nombre], [Nivel], [RespuestaCorrecta], [Pista1], [Pista2], [Pista3]) VALUES (4, N'Abusones', 1, N'31619195', N'¿Qué le dijo Jenny a Forrest?', N'La respuesta puede ser la solución a los problemas de Forrest', N'Sabías que las letras se pueden escribir como números por su orden alfabético?')
INSERT [dbo].[Salas] ([IdSalas], [Nombre], [Nivel], [RespuestaCorrecta], [Pista1], [Pista2], [Pista3]) VALUES (7, N'Ejército', 2, N'VIETNAM', N'Allí conoce al Teniente Dan y sufre una herida en el trasero.', N'Vietnam.svg', N'Es el país asiático al que envían a Forrest a luchar en la guerra.')
SET IDENTITY_INSERT [dbo].[Salas] OFF
GO
SET IDENTITY_INSERT [dbo].[Salas_X_Partidas] ON 

INSERT [dbo].[Salas_X_Partidas] ([IdSalasPartidas], [IdPartidas], [IdSalas], [SalaActual]) VALUES (1, 27, 1, 1)
INSERT [dbo].[Salas_X_Partidas] ([IdSalasPartidas], [IdPartidas], [IdSalas], [SalaActual]) VALUES (2, 28, 1, 1)
INSERT [dbo].[Salas_X_Partidas] ([IdSalasPartidas], [IdPartidas], [IdSalas], [SalaActual]) VALUES (3, 29, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Salas_X_Partidas] OFF
GO
SET IDENTITY_INSERT [dbo].[SalasXRecursos] ON 

INSERT [dbo].[SalasXRecursos] ([IdSalasXRecursos], [IdSalas], [IdRecurso]) VALUES (1, 1, 1)
INSERT [dbo].[SalasXRecursos] ([IdSalasXRecursos], [IdSalas], [IdRecurso]) VALUES (2, 4, 2)
INSERT [dbo].[SalasXRecursos] ([IdSalasXRecursos], [IdSalas], [IdRecurso]) VALUES (7, 4, 3)
SET IDENTITY_INSERT [dbo].[SalasXRecursos] OFF
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Partidas] FOREIGN KEY([IdPartida])
REFERENCES [dbo].[Partidas] ([IdPartidas])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Partidas]
GO
ALTER TABLE [dbo].[RespuestasUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasUsuario_Partidas] FOREIGN KEY([IdPartidas])
REFERENCES [dbo].[Partidas] ([IdPartidas])
GO
ALTER TABLE [dbo].[RespuestasUsuario] CHECK CONSTRAINT [FK_RespuestasUsuario_Partidas]
GO
ALTER TABLE [dbo].[Salas_X_Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Salas_X_Partidas_Partidas] FOREIGN KEY([IdPartidas])
REFERENCES [dbo].[Partidas] ([IdPartidas])
GO
ALTER TABLE [dbo].[Salas_X_Partidas] CHECK CONSTRAINT [FK_Salas_X_Partidas_Partidas]
GO
ALTER TABLE [dbo].[Salas_X_Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Salas_X_Partidas_Salas] FOREIGN KEY([IdSalas])
REFERENCES [dbo].[Salas] ([IdSalas])
GO
ALTER TABLE [dbo].[Salas_X_Partidas] CHECK CONSTRAINT [FK_Salas_X_Partidas_Salas]
GO
ALTER TABLE [dbo].[SalasXRecursos]  WITH CHECK ADD  CONSTRAINT [FK_SalasXRecursos_Recurso] FOREIGN KEY([IdRecurso])
REFERENCES [dbo].[Recurso] ([IdRecurso])
GO
ALTER TABLE [dbo].[SalasXRecursos] CHECK CONSTRAINT [FK_SalasXRecursos_Recurso]
GO
ALTER TABLE [dbo].[SalasXRecursos]  WITH CHECK ADD  CONSTRAINT [FK_SalasXRecursos_Salas] FOREIGN KEY([IdSalas])
REFERENCES [dbo].[Salas] ([IdSalas])
GO
ALTER TABLE [dbo].[SalasXRecursos] CHECK CONSTRAINT [FK_SalasXRecursos_Salas]
GO
USE [master]
GO
